<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>Blue</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Blue</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blue Light</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Light</string>
				</array>
			</dict>
			<key>Blue Dark</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Dark</string>
				</array>
			</dict>
			<key>Green Light</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green Light</string>
				</array>
			</dict>
			<key>Green Dark</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green Dark</string>
				</array>
			</dict>
			<key>Green</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
			</dict>
			<key>Pink Light</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink Light</string>
				</array>
			</dict>
			<key>Pink Dark</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink Dark</string>
				</array>
			</dict>
			<key>Pink</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>todo-logo</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
